@import 'fontello';
@import 'raleway';
@import 'robotoslab';
@import 'bootstrap-reboot.min';
@import 'bootstrap-grid.min';

$white: #fff;
$gray1: #494949;
$gray2: #7c7c7c;
$gray3: #bebebe;
$cyan: #66d4f4;
$blue: #42a8f6;
$darkblue: #0179D5;

%clear-list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

%button {
	display: inline-block;
	background-color: transparent;
	border: 1px solid transparent;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
    user-select: none;
    color: $white;
}

body {
	font-family: 'Raleway', 'Roboto Slab', sans-serif;
	color: $gray1;
}

.bg {
	height: 936px;
	margin-bottom: 45px;
	@media (max-width: 1599px) {
		background: url("../img/bg.png") no-repeat center top;
	}
	@media (min-width: 1600px) {
		background: url("../img/Headphones.png") no-repeat left top,
		url("../img/Pencil 2.png") no-repeat left bottom,
		url("../img/Pencil 1.png") no-repeat left 92%,
		url("../img/Earphones.png") no-repeat right 60%,
		url("../img/phone.png") no-repeat 350px top;
		background-color: #42a8f6;
	}
}
.bg2 {
	height: 780px;
	@media (max-width: 575px) {
		background: url("../img/bg2.png") no-repeat right top;
	}
	@media(max-width: 388px) {
		height: 880px;
		background-size: cover;
	}
	@media (min-width: 576px) {
		background: url("../img/bg2.png") no-repeat center top;
	}
	@media (min-width: 1600px) {
		background: url("../img/iPhone.png") no-repeat left 118px,
		url("../img/fig1.png") no-repeat 100px -120px,
		url("../img/fig2.png") no-repeat calc(100% + 84px) -70px,
		url("../img/fig3.png") no-repeat calc(100% + 170px) 410px;		
		background-color: #fafbfb;
	}
}

.bg3 {
	min-height: 755px;
	background-image: url("../img/bg3.png");
}

.bg4 {
	min-height: 1000px;
	margin-bottom: 25px;
	padding-top: 40px;
	padding-bottom: 50px;

	background: url("../img/pattern.png") no-repeat center bottom;
	background-color: #f4fbfc;

	@media(min-width: 1600px) {
		background-size: contain;
	}
}

.header {
	font-weight: 600;
	border-bottom: 1px solid $white;
	padding-top: 40px;
	padding-bottom: 35px;
	margin-bottom: 250px;
	@media (max-width: 410px) {
		margin-bottom: 100px;
	}

	&__logo {
		margin: 0;
		@media (max-width: 410px) {
			width: 52px;
			overflow: hidden;
		}
	}

	&__login {
		@extend %button;
		padding: 14px 31px;
		border-radius: 10px;
		font-size: 17px;
		background-color: rgba(86, 158, 216, 0.8);
		transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

		&:hover {
			color: $blue;
			background-color: $white;
		}

		&:focus {
			box-shadow: 0 0 1px 2px $darkblue;
		}
	}

	&__toggler {
		@extend %button;
		margin-left: 20px;
		font-size: 25px;
		text-decoration: none;
		width: 40px;
		height: 40px;
		text-align: center;
		border-radius: 4px;
		line-height: 40px;

		&:hover {
			background-color: $cyan;
		}

		&:focus {
			color: $blue;
			background-color: $white;
		}

		@media (min-width: 992px) {
			display: none;
		}
	}

	&__collapsable {
		max-height: 0;
		transition: max-height 0.4s;
	}
}

.nav {
	position: absolute;
	top: 35px;
	overflow: hidden;
	width: 100%;
	background-color: $white;
	z-index: 1;

	@media (min-width: 992px) {
		position: static;
		overflow: visible;
		background-color: transparent;
	}

	&__wrap {
		padding-left: 0;
		padding-right: 0;
	}

	&__list {
		@extend %clear-list;
		display: flex;
		flex-direction: column;

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	&__link {
		@extend %button;
		width: 100%;
		padding: 14px 17px;
		font-size: 17px;
		color: $blue;
		text-align: left;
		transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

		&:hover {
			color: $white;
			background-color: $cyan;
		}

		&:focus {
			color: $white;
			background-color: $darkblue;
		}

		@media (min-width: 992px) {
			color: $white;
			border-radius: 10px;
			&:focus {
				color: $blue;
				background-color: $white;
				box-shadow: 0 0 1px 2px $blue;
			}
		}


	}
}

.descr {
	color: $white;
	font-weight: 600;
	max-width: 540px;

	&__header {
		font-size: 40px;
		margin-bottom: 16px;
	}

	&__text {
		font-size: 26px;
		font-weight: 500;
		margin-bottom: 65px;
	}

	&__btn {
		@extend %button;
		padding: 24px 10px;
		border-radius: 10px;
		font-size: 20px;
		text-transform: capitalize;
		background-color: rgba(86, 158, 216, 0.8);
		transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
		width: 240px;
		height: 80px;
		margin-bottom: 1rem;

		&:hover {
			color: $blue;
			background-color: $white;
		}

		&:focus {
			box-shadow: 0 0 1px 2px $darkblue;
		}
	}

	&__btn_google {
		color: $gray1;
		background-color: $white;
		margin-right: 25px;

		&:hover {
			color: $gray1;
			box-shadow: 0 0 40px 3px $gray3;
		}

		&:focus {
			box-shadow: 0 0 2px 2px $gray2;
		}

		span {
			vertical-align: top;
		}
	}

	&__icon {
		display: inline-block;
		width: 30px;
		height: 32px;
		margin-right: 16px;
		background-image: url("../img/google_play.png");
	}
}

.common-block {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;

	&__header{
		font-family: 'Roboto Slab', sans-serif;
		font-size: 24px;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 80px;

		&_small {
			font-family: 'Roboto Slab', sans-serif;
			font-size: 18px;
			font-weight: normal;
			color: $gray2;
			margin-bottom: 0;
		}

		&::after {
			content: '';
			display: block;
			margin: 16px auto;
			width: 30px;
			height: 2px;
			background-color: $blue;
		}
	}
}

.service {

	&__icon {
		height: 150px;
	}

	&__header {
		font-size: 18px;
		margin-bottom: 24px;
	}

	&__text {
		font-size: 14px;
		font-weight: 600;
		color: $gray2;
		margin-bottom: 40px;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		line-height: 26px;
		&:last-child{
			margin-bottom: 90px;
		}
	}
}

.variants {
	padding-top: 130px;
	font-weight: 600;

	@media(max-width: 425px) {
		padding-top: 80px;
	}

	&__header {
		font-size: 32px;
		margin-bottom: 20px;

		&_small {
			font-size: 22px;
			color: $gray3;
			margin-bottom: 6px;
		}
	}

	&__text {
		font-size: 20px;
		font-weight: 500;
		color: $gray2;
		margin-bottom: 55px;
	}

	&__list {
		@extend %clear-list;
		font-weight: 500;
		color: $gray2;
		margin-bottom: 45px;
	}

	&__item {
		margin-bottom: 15px;
		position: relative;
		padding-left: 36px;

		&::before {
			position: absolute;
			left: 0;
			top: 2px;
			content: '';
			display: inline-block;
			width: 20px;
			height: 20px;
			border: 4px solid #c8ebf5;
			border-radius: 50%;
			background-color: $cyan;
		}
	}
}

.btn {
	@extend %button;
	width: 150px;
	height: 50px;
	font-size: 14px;
	letter-spacing: 1.5px;
	line-height: 50px;
	border-radius: 25px;
	background-color: $cyan;
	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
	}

	&:focus {
		box-shadow: 0px 0px 2px 2px $blue;
	}
}

.other-services {
	text-align: left;

	&__wrap-icon {
		display: inline-block;
		width: calc(25% - 4px);
		min-height: 44px;
		text-align: right;
	}

	&__icon {
		padding-right: 20px;

	}

	&__header {
		display: inline-block;
		font-weight: 600;
		font-size: 18px;
		line-height: 44px;
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
		color: $gray2;
		line-height: 26px;
		margin-left: 25%;
		margin-bottom: 90px;
	}
}

%customer {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 730px;
	height: 351px;
	border: 1px solid transition;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08);
	z-index: 3;
	text-align: center;
	padding: 70px 10px;
	
	@media(min-width: 768px) {
		padding: 70px 40px;
	}
	@media(min-width: 992px) {
		padding: 70px 80px;
	}
}

%face {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -55.5px;
	margin-top: -48px;
	width: 111px;
	height: 112px;
	z-index: 5;
}

%arrow {
	display: inline-block;
	width: 160px;
	font-size: 18px;
	font-weight: 600;
	color: $gray3;
	transition: color 0.3s;

	&:hover {
		color: $gray1;
	}

	.arrow {
		font-size: 45px;
		vertical-align: sub;
	}
}

.customers {
	list-style-type: none;
	position: relative;
	height: 351px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;
	color: $gray2;
	margin-bottom: 25px;

	&__item {
		@extend %customer;
	}

	@for $i from 1 through 3 {
		&__face#{$i} {
			@extend %face;
			background-image: url("../img/author#{$i}.png");
		}
	}

	&__name {
		font-size: 20px;
		color: $gray1;
		margin-bottom: 0;
	}

	&__profession {
		font-size: 15px;
		margin-bottom: 35px;
	}

	&__text {
		font-size: 18px;
	}

	&__buttons {
		
	}
	
	&__prev {
		@extend %arrow;
		text-align: right;
		padding-right: 15px;
		.arrow {
			padding-right: 10px;
		}
		@media(max-width: 375px) {
			width: 150px;
		}
	}

	&__next {
		@extend %arrow;
		text-align: left;
		padding-left: 15px;
		.arrow {
			padding-left: 10px;
		}
		@media(max-width: 375px) {
			width: 140px;
		}
	}
}

.front {
	@media(min-width: 576px) {
		width: calc(100% - 113px);
	}
}
.middle {
	z-index: 2;
	max-width: 790px;
	height: 309px;
	top: 41px;
	opacity: 0.8;
	box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.11);
	color: $white;

	@media(min-width: 576px) {
		width: calc(100% - 53px);
	}
}
.back {
	z-index: 1;
	max-width: 843px;
	height: 257px;
	top: 67px;
	opacity: 0.4;
	box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.11);
	color: $white;
}

.diagram {
	padding-top: 80px;
	padding-bottom: 70px;
	font-weight: 500;

	@media (min-width: 992px) {
		padding-top: 150px;
		padding-bottom: 135px;
	}

	&__header3 {
		font-size: 22px;
		font-weight: 600;
		color: $gray3;
	}

	&__header2 {
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	&__header4 {
		font-size: 20px;
		line-height: 32px;
		color: $gray2;
		margin-bottom: 25px;
	}

	&__text {
		font-size: 14px;
		line-height: 26px;
		color: $gray2;
		margin-bottom: 40px;
	}

	&__img {
		max-width: 100%;
		height: auto;
	}
}
.text-align-center {
	text-align: center;
}

%mo {
	color: #2eb0ec;
	font-weight: 600;
	font-size: 20px;
}

.price {
	border: 1px solid #f1f1f1;
	border-radius: 20px;
	padding: 44px 53px;
	margin: 0 auto 32px;
	width: 320px;
	background: url("../img/pattern2.png") no-repeat 10px -105px;
	background-color: #fff;
	transition: all 0.3s;
	position: relative;
	height: 586px;
	top: 0;

	@media(max-width: 425px) {
		width: 280px;
	}

	&:hover {
		box-shadow: 0px 0px 51px 0px rgba(92, 149, 161, 0.33);
		top: -25.5px;
		height: 636px;
		width: 348px;
		padding: 69px 67px;
		@media(max-width: 425px) {
			width: 300px;
		}

		.btn {
			box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
			&:focus {
				box-shadow: 0px 0px 2px 2px $blue;
			}
		}
	}

	.btn {
		font-weight: 700;
	}

	&__wrap-img {
		height: 150px;
	}

	&__header {
		font-weight: 700;
		font-size: 16px;
		margin-bottom: 16px;
	}

	&__full {
		padding-left: 35px;
	}

	&__dollar {
		@extend %mo;
		vertical-align: top;
	}

	&__mo {
		@extend %mo;
		vertical-align: text-top;
	}

	&__number {
		font-weight: 800;
		font-size: 72px;
		line-height: 43px;

		@supports (-webkit-background-clip: text) {
			background: linear-gradient(-135deg, #32b5ed, #44c9f1, #6af4f9);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent; }

		color: #2eb0ec;
	}

	&__option {
		@extend %clear-list;
		font-weight: 600;
		font-size: 14px;
		color: $gray2;
		line-height: 32px;
		margin-bottom: 50px;

		.disabled {
			color: $gray3;
		}
	}
}

%input {
	display: block;
	width: 370px;
	height: 75px;
	border-radius: 37.5px;
	text-align: center;
	user-select: none;
	white-space: nowrap;
	outline: none;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	@media(max-width: 410px) {
		width: 100%;
	}
}

.form-subscribe {
	padding-bottom: 60px;

	&__input {
		@extend %input;
		border: 1px solid rgba(92, 149, 161, 0.07);
		background-color: #f5fafa;
		transition: background-color 0.3s, box-shadow 0.3s;

		font-size: 14px;
		font-weight: 700;
		color: $gray1;

		&::placeholder {
			color: $gray3;
		}

		&:focus {
			background-color: #fff;
			box-shadow: 0px 8px 32px 1px rgba(92, 149, 161, 0.07);
		}

	}

	&__submit {
		@extend %input;
		font-size: 16px;
		font-weight: 700;
	}
}

.copy {
	color: $gray2;
	font-size: 14px;
	font-weight: 500;
	padding: 36px 0;
	p {margin:3px;}
	
	div:not(:last-child) {
		@media(min-width: 768px) {
			border-right: 1px solid $gray2;
		}	
	}

}

.links {
	border-bottom: 1px solid $gray3;
	border-top: 1px solid $gray3;
	padding-top: 45px;
	padding-bottom: 30px;

	&__column {
		@media(max-width: 575px) {
			text-align: center;
		}
	}

	&__header {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 35px;
	}

	ul {
		@extend %clear-list;
		margin-bottom: 40px;
	}

	&__item {
		font-size: 14px;
		font-weight: 500;
		color: $gray2;
		line-height: 28px;
	}
}

%social {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	line-height: 30px;
	font-size: 14px;
	margin-right: 6px;
}
.social {
	margin-bottom: 50px;
	max-width: 210px;
	@media(max-width: 575px) {
		margin: 0 auto 50px;
		text-align: center;
	}

	&__img {
		padding-bottom: 10px;
	}

	&__text {
		font-size: 14px;
		font-weight: 500;
		color: $gray2;
		line-height: 28px;
	}

	&__f {
		@extend %social;
		background-color: #3b579d;
	}

	&__g {
		@extend %social;
		background-color: #da4835;
	}

	&__t {
		@extend %social;
		background-color: #55acee;
	}
}