@import 'fontello';
@import 'raleway';
@import 'robotoslab';
@import 'bootstrap-reboot.min';
@import 'bootstrap-grid.min';

$white: #fff;
$gray1: #494949;
$gray2: #7c7c7c;
$gray3: #bebebe;
$cyan: #66d4f4;
$blue: #42a8f6;
$darkblue: #0179D5;

%clear-list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

%button {
	display: inline-block;
	background-color: transparent;
	border: 1px solid transparent;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
    user-select: none;
    color: $white;
}

body {
	font-family: 'Raleway', 'Roboto Slab', sans-serif;
	color: $gray1;
}

.bg {
	height: 936px;
	margin-bottom: 45px;
	@media (max-width: 1599px) {
		background: url("../img/bg.png") no-repeat center top;
	}
	@media (min-width: 1600px) {
		background: url("../img/Headphones.png") no-repeat left top,
		url("../img/Pencil 2.png") no-repeat left bottom,
		url("../img/Pencil 1.png") no-repeat left 92%,
		url("../img/Earphones.png") no-repeat right 60%,
		url("../img/phone.png") no-repeat 350px top;
		background-color: #42a8f6;
	}
}
.bg2 {
	height: 780px;
	@media (max-width: 575px) {
		background: url("../img/bg2.png") no-repeat right top;
	}
	@media (min-width: 576px) {
		background: url("../img/bg2.png") no-repeat center top;
	}
	@media (min-width: 1600px) {
		background: url("../img/iPhone.png") no-repeat left 118px,
		url("../img/fig1.png") no-repeat 100px -120px,
		url("../img/fig2.png") no-repeat calc(100% + 84px) -70px,
		url("../img/fig3.png") no-repeat calc(100% + 170px) 410px;		
		background-color: #fafbfb;
	}
}

.header {
	font-weight: 600;
	border-bottom: 1px solid $white;
	padding-top: 40px;
	padding-bottom: 35px;
	margin-bottom: 250px;
	@media (max-width: 410px) {
		margin-bottom: 100px;
	}

	&__logo {
		margin: 0;
		@media (max-width: 410px) {
			width: 52px;
			overflow: hidden;
		}
	}

	&__login {
		@extend %button;
		padding: 14px 31px;
		border-radius: 10px;
		font-size: 17px;
		background-color: rgba(86, 158, 216, 0.8);
		transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

		&:hover {
			color: $blue;
			background-color: $white;
		}

		&:focus {
			box-shadow: 0 0 1px 2px $darkblue;
		}
	}

	&__toggler {
		@extend %button;
		margin-left: 20px;
		font-size: 25px;
		text-decoration: none;
		width: 40px;
		height: 40px;
		text-align: center;
		border-radius: 4px;
		line-height: 40px;

		&:hover {
			background-color: $cyan;
		}

		&:focus {
			color: $blue;
			background-color: $white;
		}

		@media (min-width: 992px) {
			display: none;
		}
	}

	&__collapsable {
		max-height: 0;
		transition: max-height 0.4s;
	}
}

.nav {
	position: absolute;
	top: 35px;
	overflow: hidden;
	width: 100%;
	background-color: $white;
	z-index: 1;

	@media (min-width: 992px) {
		position: static;
		overflow: visible;
		background-color: transparent;
	}

	&__wrap {
		padding-left: 0;
		padding-right: 0;
	}

	&__list {
		@extend %clear-list;
		display: flex;
		flex-direction: column;

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	&__link {
		@extend %button;
		width: 100%;
		padding: 14px 17px;
		font-size: 17px;
		color: $blue;
		text-align: left;
		transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

		&:hover {
			color: $white;
			background-color: $cyan;
		}

		&:focus {
			color: $white;
			background-color: $darkblue;
		}

		@media (min-width: 992px) {
			color: $white;
			border-radius: 10px;
			&:focus {
				color: $blue;
				background-color: $white;
				box-shadow: 0 0 1px 2px $blue;
			}
		}


	}
}

.descr {
	color: $white;
	font-weight: 600;
	max-width: 540px;

	&__header {
		font-size: 40px;
		margin-bottom: 16px;
	}

	&__text {
		font-size: 26px;
		font-weight: 500;
		margin-bottom: 65px;
	}

	&__btn {
		@extend %button;
		padding: 24px 10px;
		border-radius: 10px;
		font-size: 20px;
		text-transform: capitalize;
		background-color: rgba(86, 158, 216, 0.8);
		transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
		width: 240px;
		height: 80px;
		margin-bottom: 1rem;

		&:hover {
			color: $blue;
			background-color: $white;
		}

		&:focus {
			box-shadow: 0 0 1px 2px $darkblue;
		}
	}

	&__btn_google {
		color: $gray1;
		background-color: $white;
		margin-right: 25px;

		&:hover {
			color: $gray1;
			box-shadow: 0 0 40px 3px $gray3;
		}

		&:focus {
			box-shadow: 0 0 2px 2px $gray2;
		}

		span {
			vertical-align: top;
		}
	}

	&__icon {
		display: inline-block;
		width: 30px;
		height: 32px;
		margin-right: 16px;
		background-image: url("../img/google_play.png");
	}
}

.common-block {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;

	&__header{
		font-family: 'Roboto Slab', sans-serif;
		font-size: 24px;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 80px;

		&_small {
			font-family: 'Roboto Slab', sans-serif;
			font-size: 18px;
			font-weight: normal;
			color: $gray2;
			margin-bottom: 0;
		}

		&::after {
			content: '';
			display: block;
			margin: 16px auto;
			width: 30px;
			height: 2px;
			background-color: $blue;
		}
	}
}

.service {

	&__icon {
		height: 150px;
	}

	&__header {
		font-size: 18px;
		margin-bottom: 24px;
	}

	&__text {
		font-size: 14px;
		font-weight: 600;
		color: $gray2;
		margin-bottom: 40px;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		line-height: 26px;
		&:last-child{
			margin-bottom: 90px;
		}
	}
}

.variants {
	padding-top: 130px;
	font-weight: 600;

	&__header {
		font-size: 32px;
		margin-bottom: 20px;

		&_small {
			font-size: 22px;
			color: $gray3;
			margin-bottom: 6px;
		}
	}

	&__text {
		font-size: 20px;
		font-weight: 500;
		color: $gray2;
		margin-bottom: 55px;
	}

	&__list {
		@extend %clear-list;
		font-weight: 500;
		color: $gray2;
		margin-bottom: 45px;
	}

	&__item {
		margin-bottom: 15px;

		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-right: 1rem;
			width: 20px;
			height: 20px;
			border: 4px solid #c8ebf5;
			border-radius: 50%;
			background-color: $cyan;
		}
	}
}

.btn {
	@extend %button;
	width: 150px;
	height: 50px;
	font-size: 14px;
	letter-spacing: 1.5px;
	line-height: 50px;
	border-radius: 25px;
	background-color: $cyan;
	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
	}

	&:focus {
		box-shadow: 0px 0px 2px 2px $blue;
	}
}

.other-services {
	text-align: left;

	&__wrap-icon {
		display: inline-block;
		width: calc(25% - 4px);
		min-height: 44px;
		text-align: right;
	}

	&__icon {
		padding-right: 20px;

	}

	&__header {
		display: inline-block;
		font-weight: 600;
		font-size: 18px;
		line-height: 44px;
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
		color: $gray2;
		line-height: 26px;
		margin-left: 25%;
		margin-bottom: 90px;
	}
}

